body {
    font-family: serif;
    font-size: 14pt;
    margin-left: 1em;
    margin-right: 1em;
}

h1, h2, h3 {
    font-family: sans-serif;
    color: dimgray;
}

pre code {
    font-size: smaller;
    margin-left: 2em;
}
